/* Write your CSS here */
.button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
